# Git Lab atlp registry
strict-ssl=false
'//10.0.131.131/api/v4/projects/588/packages/npm/:_authToken'="MzCzoVBXP6MA-wBBoH8w"
'//10.0.131.131/api/v4/packages/npm/:_authToken'="MzCzoVBXP6MA-wBBoH8w"
@mg_core:registry=http://10.0.131.131/api/v4/projects/588/packages/npm/
