<atlp-sidebar-v2
  class="sidebar-with-content sidebar-large"
  [name]="Sidebar.verifyMFAUser"
  position="right"
  [folded]="false"
  [invisibleOverlay]="true"
  [superimposed]="true"
>
  <atlp-verify-mfauser></atlp-verify-mfauser>
</atlp-sidebar-v2>
<atlp-sidebar-v2
  class="sidebar-with-content sidebar-large"
  [name]="Sidebar.verifyMFAUserOTP"
  position="right"
  [folded]="false"
  [invisibleOverlay]="true"
  [superimposed]="true"
>
  <atlp-verify-mfauserotp> </atlp-verify-mfauserotp>
</atlp-sidebar-v2>
