<div
  [formGroup]="group"
  class="field-wrap mb-24 bg parent_{{ field.key }} {{
    field.inputComParentFiledClasses
  }}"
  [ngStyle]="field.props?.componentParentStyle"
  fxLayout="column"
  [hidden]="isHidden"
  *ngIf="isVisible"
>
  <div class="field-wrap bg" fxLayout="row">
    <label class="field-label" [ngClass]="{ required: field.isRequired }">{{
      field.label
    }}</label>
    <span
      *ngIf="field.tooltip"
      matTooltipClass="example-tooltip-white"
      [matTooltip]="field.tooltip"
      matTooltipPosition="right"
      matTooltipClass="plotTooltip"
    >
      <mat-icon
        svgIcon="info-icon"
        class="icon-position info-icon"
        aria-hidden="false"
      ></mat-icon>
    </span>
  </div>
  <div
    class="field-input-wrap"
    [class.invalid]="
      !isValid && isDirty && group.get(field.name).errors?.required
    "
  >
    <!--need to change date time to only time picker-->
    <input
      #elementRef
      matInput
      [ngStyle]="field.props?.componentStyle"
      [tabIndex]="field.tabindex || 0"
      class="child_{{ field.key }} {{ field.inputFiledClasses }}"
      readonly
      [ngxTimepicker]="picker"
      [format]="24"
      [formControlName]="field.name"
      [placeholder]="field.placeholder || ''"
      [attr.aria-describedby]="fieldMetaData?.ariaDescribedby"
      [required]="fieldMetaData?.required"
      [name]="field.name"
      [disableControl]="field.isDisabled ? true : null"
    />
    <!-- <input
    [ngStyle]="field.props?.componentStyle"
    [tabIndex]="field.tabindex || 0"
    class="child_{{ field.key }} {{ field.inputFiledClasses }}"
    [placeholder]="field.placeholder || ''"
    id="start_time"
    aria-label="24hr format"
    [formControlName]="field.name"
    [ngxTimepicker]="picker"
    [required]="fieldMetaData?.required"
    [format]="24"
    [disableControl]="field.isDisabled ? true : null"
    readonly
  /> -->
    <mat-icon svgIcon="data-icon-white" aria-hidden="false"></mat-icon>
  </div>
  <span class="field-label"
    ><small>{{ field.description }}</small></span
  >
  <div
    *ngFor="let validation of field.validations"
    class="error-wrap"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <mat-icon
      *ngIf="
        !isValid && isDirty && group.get(field.name).hasError(validation.name)
      "
      svgIcon="warning-circle-fill"
      aria-hidden="false"
    ></mat-icon>
    <span
      *ngIf="
        !isValid && isDirty && group.get(field.name).hasError(validation.name)
      "
      class="error-text"
      >{{ validation.message | translate }}</span
    >
  </div>

  <ngx-material-timepicker
    #picker
    [cancelBtnTmpl]="cancelBtn"
    [confirmBtnTmpl]="CanfirmBtn"
  ></ngx-material-timepicker>
  <ng-template #cancelBtn>
    <button mat-raised-button style="box-shadow: none; margin-right: 16px">
      {{ "CANCEL" | translate }}
    </button>
  </ng-template>
  <ng-template #CanfirmBtn>
    <button mat-raised-button style="box-shadow: none">
      {{ "OK" | translate }}
    </button>
  </ng-template>
</div>
