@import "projects/@atlp/scss/variables";
@import "projects/@atlp/scss/mixins";
.payment-information-title {
  letter-spacing: 0.8px;
  @include margin-right(15px);
  color: map-get($color, "atlp-panel-title"); 
}
.drawer-header{
  background-color: var(--atlp-violet-base);
}
// .drawer-body {
//   // padding-bottom: 70px;
// }
.appointment-title-value{
  color: var(--atlp-white);
}
.payment-status-header{
  padding-top: 6px;
}
.charges {
  @include apply-arabic-font("ADPortsGroup");
  .charges-head-wrap {
    margin-bottom: 32px;
    border-bottom: 2px solid map-get($color, "atlp-panel-border");
  }

  .charges-head {
    margin-bottom: 35px;
    @media (min-width: 1280px) {
      margin-bottom: 30px;
    }
    .block-title {
      margin-bottom: 5px;
    }
    .appointment-text {
      font-size: 16px;
      @media (min-width: 1280px) {
        margin-bottom: 5px;
      }
    }
    .mb-24 {
      @media (min-width: 1280px) {
        margin-bottom: 0 !important;
      }
    }
  }

  .terminal-text {
    font-size: 16px;
    letter-spacing: 0px;
    color: map-get($color, "atlp-grey-light");
    display: block;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
}

.descr-table {
  padding-bottom: 25px;
  margin-bottom: 32px;
  border-bottom: 1px solid map-get($color, "atlp-panel-border");
  @media (min-width: 960px) {
    border-bottom: none;
    &:last-child {
      margin-bottom: 16px;
      border-bottom: 2px solid map-get($color, "atlp-panel-border");
    }
  }

  &.top-table {
    .descr-head {
      @media (min-width: 960px) {
        @include padding-left(0);
      }
      .descr-col {
        &:first-child {
          @include left(0px);
        }
      }
    }
    .descr-col {
      &:last-child {
        justify-content: flex-end;
        @include text-align(right);
      }
    }
  }

  .descr-total {
    display: none;
    @media (min-width: 960px) {
      display: flex;
    }
    .drawer-info-sub {
      @include margin-right(5px);
    }
  }
  .descr-info {
    position: relative;
    @media (min-width: 960px) {
      @include padding-left(25px);
    }
    .mat-checkbox {
      position: absolute;
      top: 0;
      @include right(0);
      @media (min-width: 960px) {
        @include left(0);
        @include right(auto);
      }
    }
    span {
      font-size: 16px;
      letter-spacing: 0px;
      line-height: 1.2;
    }
  }

  .descr-col {
    width: 50%;
    margin-bottom: 22px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .descr-title {
    color: map-get($color, "atlp-purple-light");
    @include margin-right(5px);
    white-space: nowrap;
  }

  .descr-text {
    color: map-get($color, "atlp-white");
  }

  .descr-row {
    margin-bottom: 8px;
    position: relative;
    border: 1px solid map-get($color, "atlp-purple-base");
    background: #ffffff1a;
    border-radius: 12px;
    padding: 16px;
    @media (min-width: 960px) {
      border-radius: 0;
      padding: 10px 0;
      background: transparent;
      border: none;
      border-bottom: 1px solid map-get($color, "atlp-panel-border");
    }
    .descr-col {
      margin-bottom: 16px;
      @media (min-width: 960px) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
      .descr-title {
        @media (min-width: 960px) {
          display: none;
        }
      }
    }
    .mat-checkbox {
      position: absolute;
      top: 16px;
      @include right(16px);
      @media (min-width: 960px) {
        position: relative;
        top: -2px;
        @include right(auto);
        @include margin-right(15px);
      }
    }
  }

  .descr-head {
    display: none !important;
    @media (min-width: 960px) {
      display: flex !important;
      align-items: center;
      padding: 10px 0;
      @include padding-left(31px);
      border-bottom: 2px solid map-get($color, "atlp-panel-border");
    }
    .descr-col {
      margin-bottom: 0;
      &:first-child {
        position: relative;
        @include left(-31px);
      }
    }
  }
}

.descr-tables-total {
  margin-bottom: 45px;
  @media (min-width: 960px) {
    margin-bottom: 90px;
  }
  span {
    font-size: 14px !important;
    white-space: nowrap;
    margin-bottom: 0 !important;
  }
}

.payment {
  position: absolute;
  // background: transparent linear-gradient(180deg, #373069 0%, #1c1835d1 100%) 0%
  //   0% no-repeat padding-box;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  @include left(0);

  .payment-box {
    //margin-top: 10vh;

    .title {
      font-size: 36px;
      font-weight: 700;
      color: map-get($color, "atlp-white");
    }
    .payment-subtitle {
      width: 39%;
    }
    .subtitle {
      font-size: 16px;
      font-weight: 500;
      // max-width: 400px;
      color: map-get($color, "atlp-white");
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 2px solid map-get($color, "atlp-panel-border");
    }

    .cart-item {
      padding-bottom: 15px;
      //border-bottom: 2px solid map-get($color, "atlp-panel-border");
      //margin-bottom: 15px;

      .appointment-title {
        text-transform: capitalize;
        @include rtl {
          font-size: 12px !important;
        }
      }
      .payment_status {
        @include margin-right(5px);
      }
      .payment_status_div {
        align-items: flex-end;
      }
    }

    .panel-title {
      letter-spacing: 0.8px;
      @include margin-right(15px);
    }
    .amount-to-pay {
      margin-bottom: 30px;
      padding-top: 20px;
      border-top: 2px solid map-get($color, "atlp-panel-border");
    }
    .edit-btn {
      @include margin-right(10px);
    }
  }

  .text-align-end {
    @include text-align(end);
  }

  @media screen and (max-width: 600px) {
    .payment-box {
      margin-top: 5vh;
      .title {
        font-size: 26px;
      }
      .subtitle {
        font-size: 12px;
        max-width: 300px;
      }
    }
  }
}

.mat-radio-label-content {
  color: white;
}

@media (min-width: 1024px) {
  .sidebar-with-content {
    width: calc(100vw - 272px);
  }  
}
@media (min-width: 768px) {
  // .drawer-body {
  //   height: calc(100vh - -21px);
  // }
}
// .drawer-body,
// .drawer-header {
//   background-color: #373068 !important;
// }
@media (max-width: 320px) {
  .payment-box {
    margin-top: 5vh;
    .title {
      font-size: 24 px;
    }
    .subtitle {
      font-size: 10px;
      max-width: 300px;
    }
  }
  .appointment-title{
    margin-bottom: 5px;
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    // color: #c8b6dd;
  }
}
@media (min-width: 1024px) {
  .payment-box{
    width: 35%;
  }
}
@media (min-width: 768px) and (max-width:1024px) {
  .payment-box{
    width: 50%;
  }
}
@media (max-width:768px) {
  .payment-box{
    width: 65%;
  }
}
