@import "projects/@atlp/scss/atlp";
@import "projects/@atlp/scss/variables";
@import "projects/@atlp/scss/mixins";

.search-icon {
  width: 18px;
  height: 18px;
  min-width: 18px;
}

::ng-deep {
  .search-bar-bg {
    max-width: 292px;
    width: 100%;
    &.disabled {
      opacity: 0.4;
    }
    .atlp-search-bar-content {
      background-color: transparent !important;
    }
    .mat-icon {
      font-size: 18px !important;
      color: map-get($color, "atlp-white") !important;
    }
    input {
      color: map-get($color, "atlp-white") !important;
      border: 1px solid map-get($color, "atlp-purple-base") !important;
      &::placeholder {
        color: map-get($color, "atlp-search-color");
        font-size: 14px;
        opacity: 0.5;
        // color: map-get($color, "atlp-white") !important;
      }
    }
  }
}

:host {
  .atlp-search-bar {
    font-size: 14px;

    .mat-icon {
      font-size: 18px;
      min-height: 24px !important;
      color: map-get($color, "atlp-search-color");
    }

    .atlp-search-bar-expander {
      margin: 0 !important;
    }

    .atlp-search-bar-content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .atlp-search-bar-collapser {
        display: none;
      }

      .atlp-search-bar-label {
        position: absolute;
        top: 0;
        @include left(2px);
        height: 33px;
        display: block;
        .mat-icon-button {
          width: 33px;
          height: 33px;
        }
      }

      .atlp-search-bar-input {
        @include padding-left(35px);
        // max-width: 292px;
        width: 100%;
        border-radius: 6px;
        height: 33px;
        border: 1px solid map-get($color, "atlp-grey-dark");
        background-color: map-get($color, "atlp-white");
        width: 100%;
        font-size: 14px;
        background-color: transparent;
        color: map-get($color, "atlp-search-color");
        &::placeholder {
          color: map-get($color, "atlp-search-color");
          font-size: 14px;
        }
      }
    }
  }
}
